
<h1>Orders</h1>
<div class="row col-md-10">
<table class="table">
  <thead>
    <tr>
      <th style="width: 500px">Customer</th>
      <th style="width: 500px">Date</th>
      <th style="width: 500px">Address</th>
    </tr>
  </thead> 
  <tbody>
    <tr *ngFor="let order of orders$ | async">
      <td>{{ order.shipping.name }}</td>
      <td>{{ order.datePlaced | date}}</td>
      <td>{{order.shipping.addressLine1}} {{order.shipping.addressLine2}} {{order.shipping.city}}</td>
    </tr>
  </tbody> 
</table>
</div>